<%if @error.present? %>
$('#status-error').html("<%=@error %>").show()
<% else %>
  $('#status-error').html(" ").hide()
  <%
  status = ''
  @orders.each do |order|
    if order.shipments.size > 0
      tracking_url = order.shipments.first.tracking_url
      tracking_number = order.shipments.first.tracking
      if tracking_url.present?
        status += "<p>Your order #{order.number} has been shipped, tracking <a href=\"#{tracking_url}\" class=\"text-success\" target=\"_blank\">#{order.shipments.first.tracking}</a></p>"
      elsif tracking_number.present?
        status += "<p>Your order #{order.number} has been shipped, tracking # #{tracking_number}</p>"
      else
        status += "<p>Your order #{order.number} has been shipped, tracking still not available yet.</p>"
      end
    else
      status += "<p>Your order #{order.number} has been shipped, tracking still not available yet.</p>"
    end
  end
  %>
  $('#status-text').html('<%== status %>').show()
<% end %>